@import '../../../styles//_partials/mixins';
@import '../../../styles/_partials/colors';

.item {
  flex: 0 0 33.33%;
  min-height: 50px;
  padding: 50px 30px;
  text-align: center;

  &__img-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 220px;

    img {
      max-height: 180px;
      max-width: 100%;
    }
  }

  &__title {
    line-height: 25px;
    margin-bottom: 5px;
  }

  &__price {
    color: $color-black;
    margin-bottom: 20px;
  }

  &__action {
    width: 100%;
  }

  @include mobile-breakpoint {
    padding: 40px 10px;
    flex: 0 0 50%;

    &__img-container {
      min-height: 180px;
    }

    &__title,
    &__price {
      font-size: 13px;
    }
  }
}