@import '../../styles/_partials/mixins';

.products {
  background-color: #E2E6E3;
  padding: 25px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  @include mobile-breakpoint {
    padding: 0;
  }
}