@import '../../styles/_partials/mixins';
@import '../../styles/_partials/colors';

.header {
  background-color: $color-ivory;
  box-shadow: 0 2px 3px -3px $color-gray;
  padding: 15px 5px;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 163px;
  }

  &__cart {
    cursor: pointer;
    position: relative;

    &-icon {
      width: 25px;
    }

    &-counter {
      position: absolute;
      top: -4px;
      right: -11px;
    }
  }

  @include mobile-breakpoint {
    &__logo {
      height: 20px;
    }
  }
}